@import '../animation/animation';

.fab-fixed {
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  z-index: 1;
}

.theme:not(.theme--without-animation) {
  .fab-fixed {
    animation: FadeFromScale0Delay .3s linear;
  }
}