.text-field {
  width: 100%;
}

// Helper text.
.text-field-helper-text {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, .6);

  &.text-field-helper-text--validation-msg {
    color: $theme-validation!important;
  }
}

.text-field--textarea {
  .mdc-floating-label {
    background-color: whitesmoke;
  }
}

.text-field--textarea,
.mdc-text-field--focused .text-field__input:focus {
  border-top-color: transparent!important;
  border-left-color: transparent!important;
  border-right-color: transparent!important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mdc-text-field--textarea--focused .mdc-floating-label {
  font-size: 1rem;
}