$mdc-theme-primary: #455a64;
$mdc-theme-secondary: #ffa000;
$mdc-theme-background: #fff; // White
// Third-party.
$mdc-theme-primary-light: #718792;
$mdc-theme-primary-dark: #1c313a;

// Material Design.
$md-color-green-500: #4caf50;
$md-color-blue-500: #2196f3;
$md-color-red-500: #f44336;
$md-color-amber-500: #ffc107;