$mdc-theme-primary: #ff5722;
$mdc-theme-secondary: #2962ff;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$theme-bg: #fff;
$theme-validation: #f44336;
$theme-primary-light: #fbe9e7;
$theme-primary-title: #202124;
$theme-secondary-title: #444444;

// Material Components Web.
@import '~@material/button/mdc-button';
@import '~@material/card/mdc-card';
@import '~@material/checkbox/mdc-checkbox';
@import '~@material/chips/mdc-chips';
@import '~@material/dialog/mdc-dialog';
@import '~@material/drawer/mdc-drawer';
@import '~@material/elevation/mdc-elevation';
@import '~@material/fab/mdc-fab';
@import '~@material/floating-label/mdc-floating-label';
@import '~@material/form-field/mdc-form-field';
// @import '~@material/grid-list/mdc-grid-list';
@import '~@material/icon-button/mdc-icon-button';
// @import '~@material/icon-toggle/mdc-icon-toggle';
// @import '~@material/image-list/mdc-image-list';
@import '~@material/layout-grid/mdc-layout-grid';
// @import '~@material/linear-progress/mdc-linear-progress';
@import '~@material/list/mdc-list';
@import '~@material/menu-surface/mdc-menu-surface';
@import '~@material/menu/mdc-menu';
@import '~@material/radio/mdc-radio';
@import '~@material/ripple/mdc-ripple';
@import '~@material/select/mdc-select';
// @import '~@material/slider/mdc-slider';
@import '~@material/snackbar/mdc-snackbar';
@import '~@material/switch/mdc-switch';
@import '~@material/tab-bar/mdc-tab-bar';
@import '~@material/tab-scroller/mdc-tab-scroller';
@import '~@material/tab-indicator/mdc-tab-indicator';
@import '~@material/tab/mdc-tab';
@import '~@material/textfield/mdc-text-field';
@import '~@material/textfield/helper-text/mdc-text-field-helper-text';
@import '~@material/theme/mdc-theme';
// @import '~@material/toolbar/mdc-toolbar';
@import '~@material/typography/mdc-typography';

// VINT Components.
@import './components/theme/theme';
@import './components/layout-grid/layout-grid';
@import './components/fab/fab';
@import './components/card/card';
@import './components/shape/shape';
@import './components/heading/heading';
@import './components/top-app-bar/top-app-bar';
@import './components/switch/switch';
@import './components/select/select';
@import './components/text-field/text-field';
@import './components/list/list';
@import './components/tab-bar/tab-bar';
@import './components/dialog/dialog';
@import './components/button/button';
@import './components/button/button';
@import './components/homepage/homepage';