.card--paper {
  background-color: white;

  .card__header {
    padding: 1rem;
  }

  .card__content {
    padding: 0 1rem 1rem 1rem;
  }

  .card__header-title {
    margin: 0;
  }

  .card__header-subtitle {
    margin: 0;
  }  
}