.heading {
  margin: 3rem 0 1rem 0;
}

.heading__primary {
  display: flex;
  justify-content: space-between;
}

.heading__pretitle-text {
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

.heading__title-text {
  margin: 0 0 8px; 
  font-family: 'Roboto Mono', monospace;
}

.heading__content-text,
.heading__pretitle-text {
  color: #5f6368;
  line-height: 1.6;
  margin: 0;  
}

.heading__tab-bar {
  margin: 1rem 0;
}