@keyframes FadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes FadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Rotate90 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes FadeFromScale0 {
    from {
        transform: scale(0, 0);
    }

    to {
        transform: scale(1, 1);
    }
}

@keyframes FadeInFAB {
    0% {
        transform: scale(0, 0);
    }

    90% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}
