@keyframes FadeInFromBottom {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
}

@keyframes FadeFromScale0Delay {
  0% {
    transform: scale(0, 0);
  }

  90% {
    transform: scale(0, 0);
  }
}
