.menu .list .list-item {
  height: 48px;
  
  .mdc-list-item__graphic {
    margin-right: 18px;
  }
}

.list {
  form {
    display: inherit;
  }
}

.mdc-list--avatar-list {
  .mdc-list-item__graphic {
    color: $mdc-theme-primary;
    background-color: $theme-primary-light;
  }    
}

.list-item__graphic--letter {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
}

.list--paginable {
  .list-item {
    border-radius: 4px;
  }
}

// Tablet
@media only screen and (min-width: 480px) {
  .list--text-right-tablet {
    text-align: right;

    .mdc-list-item__text {
      width: 100%;
    }
  }
}

