.menu .list .list-item {
  height: 48px;
  
  .mdc-list-item__graphic {
    margin-right: 18px;
  }
}

.list {
  form {
    display: inherit;
  }
}

.list--paginable {
  .list-item {
    border-radius: 4px;
  }
}

// Tablet
@media only screen and (min-width: 480px) {
  .list--text-right-tablet {
    text-align: right;

    .mdc-list-item__text {
      width: 100%;
    }
  }
}

