@import '../animation/animation';
@import '~@material/top-app-bar/mdc-top-app-bar';

.top-app-bar {
  @include mdc-top-app-bar-fill-color(#ffffff);
  @include mdc-top-app-bar-icon-ink-color(#212121);
}

a.mdc-top-app-bar__title {
  color: #212121;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.5rem;
}

.top-app-bar--fixed-adjust {
  margin-bottom: 100px;
  // Fixa problema de responsividade.
  overflow-x: hidden;
}

// Search
.top-app-bar__row--search {
  @include mdc-top-app-bar-fill-color(#ffffff);
  @include mdc-top-app-bar-icon-ink-color(#212121);
}

.top-app-bar__section--text-field,
.top-app-bar__form,
.top-app-bar__text-field {
  width: 100%;
}

.top-app-bar__text-field {
  border: none;
  font-size: 1.5rem;
  outline: none;
  margin-left: 26px;
}

.top-app-bar--with-search {
  .top-app-bar__row {
    display: flex;
  }
  
  .top-app-bar__row--search {
    display: none;
  }
}

.top-app-bar--with-search-visible {
  .top-app-bar__row {
    display: none;
  }

  .top-app-bar__row--search {
    display: flex;
    animation: FadeInFromBottom .075s linear;
  }
}