$mdc-theme-primary: #1e88e5;
$mdc-theme-secondary: #ffab00;
$mdc-theme-background: #fff; // White
// Third-party.
$mdc-theme-primary-light: #6ab7ff;
$mdc-theme-primary-dark: #005cb2;

// Material Design.
$md-color-green-500: #4caf50;
$md-color-blue-500: #2196f3;
$md-color-red-500: #f44336;
$md-color-amber-500: #ffc107;